.class {
  border: 3px ridge rgb(9, 130, 211);
  margin: 20px;
  padding: 55px;
  margin-left: 50px;
  border-radius: 50px;
  box-shadow: black;
}
.class:hover {
  box-shadow: 10px 5px 5px rgb(9, 130, 211);
}

.heading {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 50px;
  background-color: rgb(9, 130, 211);
  padding: 20px;
}
p {
  color: rgb(9, 130, 211);
}

.Notice {
  margin-top: 50px;
  margin-left: 50px;
  font-weight: bold;
}

/*login form*/

/*login form */
